@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin scrollBar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #999, #888);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(left, #888, #777);
  }
}

@font-face {
  font-family: "cardFont";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Credit-Card-Font.ttf");
}

html,
body {
  @include flexCenter;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.app {
  @include flexCenter;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(239, 234, 226);
}

.cards_list_container {
  @include flexCenter;
  flex-direction: column;
  width: 30%;
  height: 80%;
  max-height: 80%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.cards_list {
  @include flexCenter;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;
  width: 100%;
  min-width: 300px;
  height: 90%;
  overflow-y: auto;
  padding: 10px 0;
}

.card_container {
  width: 85%;
  position: relative;
  margin-bottom: 25px;
}

.card {
  position: relative;
  padding-top: 52%;
  width: 95%;
  background-color: black;
  border: none;
  border-radius: 13px;
  color: wheat;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 15px;
  min-width: 270px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.04);
  transition-duration: 0.5s;
}

.card_number {
  @include flexCenter;
  position: absolute;
  width: 100%;
  bottom: 30%;
  font-size: 2rem;
  color: white;
  letter-spacing: 1.5px;
}

.title {
  position: absolute;
  top: 2%;
  left: 5%;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.bank {
  position: absolute;
  top: 2%;
  right: 5%;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.chip {
  position: absolute;
  left: 5%;
  top: 25%;
  width: 60px;
  height: auto;
}

.name {
  position: absolute;
  left: 5%;
  bottom: 10%;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

.card_image {
  position: absolute;
  right: 5%;
  width: 20%;
  height: auto;
  bottom: 5%;
}

.card_comment {
  width: 90%;
  @include flexCenter;
  overflow-y: hidden;
  overflow-x: auto;
}

.new_card_editor_container,
.delete_popup_container {
  @include flexCenter;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.new_card_editor,
.delete_popup {
  @include flexCenter;
  flex-direction: column;
  width: 30%;
  padding: 20px 0 30px 0;
  background-color: #e3e3d7;
  position: relative;
}

.card_number_inputs {
  margin: 10px;
}

.card_number_container {
  @include flexBetween;
  flex-direction: column;
}

.card_number_part {
  padding: 5px;
  font-size: 1.1rem;
  margin: 0 5px;
  border: none;
  border-radius: 3px;
}

.card_comment_input {
  width: 90%;
  font-size: 1.1rem;
  padding: 4px;
}

.card_number_part {
  text-align: center;
  max-width: 50px;
}

.card_number_container,
.card_comment_container {
  @include flexBetween;
  flex-direction: column;
}

.close_card_editor {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.open_delete_conf_button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: -2%;
}

.open_delete_conf_button:active,
.open_delete_conf_button:focus {
  transform: scale(1.2);
}

.invisible {
  display: none;
}

.error {
  border: 2px solid red;
  border-radius: 5px;
}

.app_button {
  margin: 10px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.app_button:hover {
  background: #f6f9fe;
  color: #caba7f;
}

.app_button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.app_button:focus {
  outline: none;
  border: 2px solid #e9a7f8;
}

.app_button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.app_button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.app_button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.app_button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.app_button:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.open_editor_button:link,
.open_editor_button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
}

.open_editor_button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.open_editor_button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: rgb(148, 132, 123);
  color: #ffffff;
}

.open_editor_button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s;
}

.open_editor_button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

h3 {
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cards_list_container {
    width: 80%;
  }
  .chip {
    width: 15%;
  }

  .card_number_part {
    max-width: 35px;
    font-size: 0.8rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cards_list_container {
    width: 55%;
  }
  .chip {
    width: 15%;
  }
  .card_number {
    font-size: 1.4rem;
  }
  .new_card_editor,
  .delete_popup {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .card_number {
    font-size: 1.3rem;
  }
  .chip {
    width: 13%;
  }
  .new_card_editor,
  .delete_popup {
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cards_list_container {
    width: 55%;
  }
  .chip {
    width: 15%;
  }
  .card_number {
    font-size: 1.4rem;
  }
  .new_card_editor,
  .delete_popup {
    width: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cards_list_container {
    width: 45%;
  }
  .chip {
    width: 15%;
  }
  .card_number {
    font-size: 1.6rem;
  }
  .new_card_editor,
  .delete_popup {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cards_list_container {
    width: 30%;
  }
  .chip {
    width: 15%;
  }
  .card_number {
    font-size: 1.7rem;
  }
  .new_card_editor,
  .delete_popup {
    width: 35%;
  }
}
